<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    

  <div fxFlex="40" *ngIf = 'dish'>
      
  <div fxFlex>
    <mat-card >
      <mat-card-header>
        <mat-card-title>

        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>   
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
     
    
        
      
    </mat-card>
  </div>
  
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
    
  </div>
  
  <div fxFlex="40" *ngIf = 'dish'>
    <div fxFlex>
    <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Comments</h3>
      </mat-card-title>
      
    </mat-card-header>
   

      <mat-grid-list cols="2" *ngFor="let comments of dish.comment">
        {{comments.comment}}
       <h4>{{comments.rating}}</h4>
       <h4>--{{comments.author}} <label>--{{comments.date | date}}</label></h4>
      </mat-grid-list>
    

      

    </mat-card>
    </div>
    </div>
    
  

</div>

